include local_ai_server/static/*
include local_ai_server/models/.gitkeep
include local_ai_server/ssl/.gitkeep
include local_ai_server/storage/vectors/.gitkeep
recursive-include local_ai_server/storage *
